@font-face {
    font-family: main;
    src: url(../fonts/IRANSansWeb_Bold.eot);
    src: url(../fonts/IRANSansWeb_Bold.eot?#iefix) format("eot"),url(../fonts/IRANSansWeb_Bold.woff2) format("woff2"),url(../fonts/IRANSansWeb_Bold.woff) format("woff"),url(../fonts/IRANSansWeb_Bold.ttf) format("ttf");
    font-weight: 700;
}

@font-face {
    font-family: main;
    src: url(../fonts/IRANSansWeb_Medium.eot);
    src: url(../fonts/IRANSansWeb_Medium.eot?#iefix) format("eot"),url(../fonts/IRANSansWeb_Medium.woff2) format("woff2"),url(../fonts/IRANSansWeb_Medium.woff) format("woff"),url(../fonts/IRANSansWeb_Medium.ttf) format("ttf");
    font-weight: 500;
}

@font-face {
    font-family: main;
    src: url(../fonts/IRANSansWeb.eot);
    src: url(../fonts/IRANSansWeb.eot?#iefix) format("eot"),url(../fonts/IRANSansWeb.woff2) format("woff2"),url(../fonts/IRANSansWeb.woff) format("woff"),url(../fonts/IRANSansWeb.ttf) format("ttf");
    font-weight: 400;
}

@font-face {
    font-family: main;
    src: url(../fonts/IRANSansWeb_Light.eot);
    src: url(../fonts/IRANSansWeb_Light.eot?#iefix) format("eot"),url(../fonts/IRANSansWeb_Light.woff2) format("woff2"),url(../fonts/IRANSansWeb_Light.woff) format("woff"),url(../fonts/IRANSansWeb_Light.ttf) format("ttf");
    font-weight: 300;
}

@font-face {
    font-family: main;
    src: url(../fonts/IRANSansWeb_UltraLight.eot);
    src: url(../fonts/IRANSansWeb_UltraLight.eot?#iefix) format("eot"),url(../fonts/IRANSansWeb_UltraLight.woff2) format("woff2"),url(../fonts/IRANSansWeb_UltraLight.woff) format("woff"),url(../fonts/IRANSansWeb_UltraLight.ttf) format("ttf");
    font-weight: 200;
}

@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot?mthpbh');
    src: url('../fonts/icomoon.eot?mthpbh#iefix') format('embedded-opentype'), url('../fonts/icomoon.ttf?mthpbh') format('truetype'), url('../fonts/icomoon.woff?mthpbh') format('woff');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    letter-spacing: normal;
    line-height: 1;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
}

.icon-smartphone:before {
    content: "\e913";
}

.icon-one:before {
    content: "\e90f";
}

.icon-two:before {
    content: "\e911";
}

.icon-tree:before {
    content: "\e912";
}

.icon-four:before {
    content: "\e910";
}

.icon-menu:before {
    content: "\e90d";
}

.icon-blog:before {
    content: "\e900";
}

.icon-hand-shake:before {
    content: "\e906";
}

.icon-download:before {
    content: "\e90c";
}

.icon-aparat:before {
    content: "\e90b";
}

.icon-aparat:hover {
    color: #ed145a;
}

.icon-telegram:before {
    content: "\e90a";
}

.icon-telegram:hover {
    color: #0088cc;
}

.icon-lifestyle:before {
    content: "\e908";
}

.icon-tea:before {
    content: "\e909";
}

.icon-world:before {
    content: "\e907";
}

.icon-smart-home:before {
    content: "\e901";
}

.icon-calendar:before {
    content: "\e902";
}

.icon-facebook:before {
    content: "\ea91";
}

.icon-facebook:hover {
    color: #3b5999;
}

.icon-instagram:before {
    content: "\ea92";
}

.icon-instagram:hover {
    color: #e95950;
}

.icon-arrow-left:before {
    content: "\e903";
}

.icon-question-mark:before {
    content: "\e904";
}

.icon-images:before {
    content: "\e90e";
}

.icon-phone:before {
    content: "\e942";
}

.icon-mail:before {
    content: "\e945";
}

.icon-location:before {
    content: "\e948";
}

.icon-clock:before {
    content: "\e94e";
}

.icon-user:before {
    content: "\e971";
}

.icon-cogs:before {
    content: "\e995";
}

.icon-bookmark:before {
    content: "\e9d2";
}

.icon-information:before {
    content: "\e905";
}


ul:not(.browser-default) {
    padding-left: 0;
    list-style-type: none;
    padding-right: 0;
}

.input-field {
    float: right !important;
}

    .input-field.col label {
        right: .75rem;
        left: auto;
    }

    .input-field .prefix {
        position: absolute;
        width: 3rem;
        font-size: 2rem;
        -webkit-transition: color .2s;
        transition: color .2s;
        top: .5rem;
        text-align: right;
        color: #fff;
    }

        .input-field .prefix.active {
            color: #32BBCB;
        }

        .input-field .prefix ~ input,
        .input-field .prefix ~ select,
        .input-field .prefix ~ textarea,
        .input-field .prefix ~ .select-wrapper,
        .input-field .prefix ~ label,
        .input-field .prefix ~ .validate ~ label,
        .input-field .prefix ~ .helper-text,
        .input-field .prefix ~ .autocomplete-content {
            margin-right: 3rem;
            width: 92%;
            width: calc(100% - 3rem);
        }

.select-wrapper span.caret {
    left: 0;
    right: auto;
    color: #fff;
}

input:focus:not([type]):not([readonly]),
input[type="text"]:focus:not([readonly]),
input[type="password"]:focus:not([readonly]),
input[type="email"]:focus:not([readonly]),
input[type="url"]:focus:not([readonly]),
input[type="time"]:focus:not([readonly]),
input[type="date"]:focus:not([readonly]),
input[type="datetime"]:focus:not([readonly]),
input[type="datetime-local"]:focus:not([readonly]),
input[type="tel"]:focus:not([readonly]),
input[type="number"]:focus:not([readonly]),
input[type="search"]:focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #32BBCB;
    box-shadow: none;
}

    input:focus:not([type]):not([readonly]):focus + label,
    input[type="text"]:focus:not([readonly]):focus + label,
    input[type="password"]:focus:not([readonly]):focus + label,
    input[type="email"]:focus:not([readonly]):focus + label,
    input[type="url"]:focus:not([readonly]):focus + label,
    input[type="time"]:focus:not([readonly]):focus + label,
    input[type="date"]:focus:not([readonly]):focus + label,
    input[type="datetime"]:focus:not([readonly]):focus + label,
    input[type="datetime-local"]:focus:not([readonly]):focus + label,
    input[type="tel"]:focus:not([readonly]):focus + label,
    input[type="number"]:focus:not([readonly]):focus + label,
    input[type="search"]:focus:not([readonly]):focus + label,
    textarea.materialize-textarea:focus:not([readonly]):focus + label {
        color: #32BBCB;
    }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    margin: 0;
}

.dropdown-content li > a, .dropdown-content li > span {
    color: #4d4d4d;
    text-align: right;
}

.select-dropdown li.disabled,
.select-dropdown li.disabled > span,
.select-dropdown li.optgroup {
    color: gray;
}

p {
    font: 400 14px main,tahoma,arial;
    line-height: 30px;
    color: #4d4d4d;
    text-align: justify;
    margin-bottom: 20px;
}

b {
    line-height: 1.7;
    color: gray;
    text-align: center;
    font-weight: 300;
    margin: 10px auto 30px;
    display: block;
}

a {
    color: #4d4d4d;
    cursor: pointer;
}

    a:hover {
        color: #000;
    }

img {
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

article {
    max-width: 960px;
    width: 80%;
    margin: 0 auto;
}

    article img {
        max-width: 100%;
    }

    article a {
        color: #31244F;
    }

        article a:hover {
            color: #31244F;
        }

ul.inline {
    text-align: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

    ul.inline li {
        display: inline-block;
        padding: 0 10px !important;
        margin-bottom: 5px;
        text-align: center;
    }

        ul.inline li a {
            display: block;
        }

.btn_content {
    margin-top: 10px;
    display: inline-block;
    position: relative;
    padding: 5px 12px;
    border-radius: 5px;
    font-size: 12px;
    background-color: #32BBCB;
    color: #fff;
    border: 2px solid #32BBCB;
    -webkit-transition: all 0.3s ease-in-out !important;
    transition: all 0.3s ease-in-out !important;
}

    .btn_content:hover {
        background-color: #736DD5;
        color: #fff;
        border-color: #736DD5;
    }

    .btn_content span {
        float: left;
        line-height: 23px;
    }

    .btn_content i {
        margin-right: 5px;
        line-height: 24px !important;
        height: 24px !important;
        font-size: 13px;
    }

.height-max {
    height: 100%;
}

html {
    overflow-x: hidden !important;
}

body {
    background-color: #bdbdbd;
    text-align: justify;
    direction: rtl;
    font: 300 13px main,Tahoma;
    overflow-x: hidden;
    background: #fff;
}

nav {
    height: 85px;
    position: fixed;
    margin-bottom: 85px;
    z-index: 8 !important;
    transition: all ease-in .3s;
}

    nav::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 8px;
        left: 0;
        top: 100%;
        background-color: #fff;
        opacity: 0.15;
    }

    nav .brand-logo {
        width: 100%;
        height: 100%;
        color: #333;
        padding: 10px;
        transition: all ease-in .3s;
    }

        nav .brand-logo img {
            max-height: 100%;
            float: left;
            display: block;
        }

    nav ul {
        height: 85px;
        padding: 12px 0 !important;
    }

        nav ul li {
            display: inline;
            float: right;
            height: 32px;
            margin: 16px 8px;
            font-weight: 500;
            padding: 10px 0 10px 20px;
            line-height: 10px;
            border-left: 1px dashed #ddd;
            transition: all ease-in .3s;
        }

            nav ul li a {
                padding: 0;
                color: #4d4d4d;
            }

                nav ul li a i {
                    font-size: 18px;
                    position: relative;
                    bottom: 26px;
                    margin-left: 10px !important;
                    margin-right: 0 !important;
                }

                nav ul li a:hover {
                    background-color: #fff;
                    transition: all linear .3s;
                }

            nav ul li:last-child {
                border: none;
            }

        nav ul nav .button-collapse i {
            color: #000;
        }

    nav .link_container {
        padding: 25px 0 !important;
        transition: all ease-in .3s;
    }

    nav .button-collapse {
        color: #000;
        z-index: 8;
    }

    nav .btn_content {
        margin: 0;
    }

    nav.fixed {
        height: 68px;
    }

        nav.fixed .brand-logo {
            padding: 5px;
        }

        nav.fixed ul li {
            margin: 7px;
        }

        nav.fixed .link_container {
            padding: 16px 0 !important;
        }

    nav .button-collapse i:hover,
    .dropdown-button:hover {
        color: #47444F !important;
    }

#sidenav-overlay {
    z-index: 7;
}

.side-nav.right-aligned {
    padding-right: 0;
    text-align: center;
}

.side-nav .menu ul li > a > i.material-icons {
    margin-left: -80px;
    margin-right: 75px;
    margin-top: -1px;
}

.side-nav .menu ul li:first-child {
    margin: 2px auto !important;
}

    .side-nav .menu ul li:first-child a {
        border-bottom: none !important;
        height: 50px !important;
    }

.full_section {
    width: 100%;
    background-color: #4C4C4C;
    padding: 30px 0;
}

    .full_section .section_title {
        background: none;
        width: 90%;
        margin: 0 auto;
        float: none;
    }

        .full_section .section_title .title_container {
            background: none;
            display: block;
        }

            .full_section .section_title .title_container .title:before,
            .full_section .section_title .title_container .title:after {
                background: none;
            }

            .full_section .section_title .title_container .title h2 {
                color: #32BBCB;
            }

            .full_section .section_title .title_container .title h3 {
                max-width: 50%;
                margin: 0 auto;
                line-height: 2.3;
                color: #fff;
            }

            .full_section .section_title .title_container .title {
                padding: 0;
            }

    .full_section .section_content {
        width: 90%;
        margin: 0 auto;
    }

        .full_section .section_content form {
            float: none;
            margin: 0 auto;
        }

            .full_section .section_content form input {
                color: #fff;
            }


/*.full_section .section_content .btn_content {
            background-color: #faeb98;
            color: #47444F;
            border-color: #faeb98;
        }

            .full_section .section_content .btn_content:hover {
                background-color: #E6C993;
                color: #363030;
                border-color: #E6C993;
            }*/

.wrap_section {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding: 60px 0;
    text-align: center;
}

    .wrap_section.first_section {
        padding-top: 150px;
    }

    .wrap_section .section_content .auto_margin {
        margin: 0 auto !important;
        float: none !important;
    }

    .wrap_section .section_content h3 {
        font: bold 1.2em/1.7 main,tahoma,arial;
        color: #4d4d4d;
        margin: 0;
    }

    .wrap_section .section_content h4 {
        font: 400 1.0em/1.7 main,tahoma,arial;
        line-height: 2;
        color: gray;
        margin: 10px auto 0;
    }



.section_title {
    width: 100%;
    background: url(../img/divider.png) repeat-x 0 center;
    float: right;
    padding-bottom: 20px;
    margin-bottom: 40px;
    background-size: 1px;
}

    .section_title .title_container {
        display: table;
        margin: 0 auto;
        position: relative;
        background-color: #fff;
    }

        .section_title .title_container .title {
            padding: 0 30px;
        }

            .section_title .title_container .title:before {
                background: url(../img/sb.png) no-repeat;
                background-size: 12px;
                content: '';
                position: absolute;
                display: block;
                width: 12px;
                height: 12px;
                top: 48%;
                left: 0;
                margin-top: 5px;
            }

            .section_title .title_container .title:after {
                background: url(../img/sb.png) no-repeat;
                background-size: 12px;
                content: '';
                position: absolute;
                display: block;
                width: 12px;
                height: 12px;
                top: 48%;
                right: 0;
                margin-top: 5px;
            }

            .section_title .title_container .title h2 {
                font: 500 1.7em/1.7 main,tahoma,arial;
                margin: 0;
                color: #4d4d4d;
            }

            .section_title .title_container .title h3 {
                font: 400 1.1em/1.7 main,tahoma,arial;
                margin: 0;
                color: #a4a4a4;
            }

.slider_section {
    background: none;
    padding: 85px 0 0 0;
    height: 460px;
}

.slider .slides {
    background: none;
}

.slider .indicators {
    bottom: 70px;
    z-index: 6;
}

    .slider .indicators .indicator-item {
        width: 12px;
        height: 12px;
        background-color: rgba(255, 255, 255, 0.4);
        margin: 0 10px;
        vertical-align: middle;
    }

        .slider .indicators .indicator-item.active {
            width: 20px;
            height: 20px;
            background-color: #ddd;
        }


.headerImg {
    height: 600px;
    padding: 85px 0 0 0;
    background: none !important;
}

    .headerImg .parallax-container {
        height: 100%;
    }


.shortDesc .section_content .row {
    margin-bottom: 0;
}

    .shortDesc .section_content .row .text {
        font-size: 14px;
        line-height: 1.7;
        color: #fff;
        text-align: justify;
        margin-bottom: 20px;
        padding: 0;
    }

.faq_desc .faq_question .collapsible {
    box-shadow: none;
    border: 1px dashed #ddd;
    padding: 40px 30px;
}

    .faq_desc .faq_question .collapsible .collapsible-header {
        font: 600 18px/1.5 main,tahoma,arial;
        color: #32BBCB;
        border-bottom-style: dashed;
        padding: 20px 0 20px;
    }

        .faq_desc .faq_question .collapsible .collapsible-header:hover {
            color: #736DD5;
        }

    .faq_desc .faq_question .collapsible li .collapsible-body {
        border-bottom: 1px dashed #ddd;
        padding: 2rem 2rem 4rem;
    }

    .faq_desc .faq_question .collapsible li:last-child .collapsible-header:not(.active),
    .faq_desc .faq_question .collapsible li:last-child .collapsible-body {
        border: none;
    }

    .faq_desc .faq_question .collapsible .collapsible-header i {
        line-height: 2rem;
        font-size: 0.8rem;
        transform: rotate(-90deg);
        color: #ddd;
    }

    .faq_desc .faq_question .collapsible .collapsible-body h2 {
        font: 500 16px main,tahoma,arial;
        color: #4d4d4d;
        text-align: right;
        margin-bottom: 8px;
    }

    .faq_desc .faq_question .collapsible .collapsible-body h3 {
        font: 500 14px main,tahoma,arial;
        line-height: 1.7;
        color: #a4a4a4;
        text-align: justify;
    }

    .faq_desc .faq_question .collapsible .collapsible-body span {
        margin: 25px auto;
        display: block;
        width: 100%;
        height: 1px;
        border-bottom: 1px dashed #ddd;
    }

.description #ssNav {
    transition: all ease-out .3s;
}

    .description #ssNav.fixed {
        position: fixed;
        top: 100px;
    }

.description .table-of-contents {
    background: url(../img/divider.png) repeat-y center;
    background-size: 2px;
}

    .description .table-of-contents li {
        margin-bottom: 35px;
    }

        .description .table-of-contents li:last-child {
            margin-bottom: 0;
        }

        .description .table-of-contents li a {
            width: 64px;
            height: 64px;
            padding: 15px;
            border: 1px solid #babcbf;
            font-size: 32px;
            color: #babcbf;
        }

            .description .table-of-contents li a:hover,
            .description .table-of-contents li a.active {
                border-color: #32BBCB;
                color: #32BBCB;
            }

.description .article {
    text-align: right;
}

    .description .article .article_img img {
        max-width: 100%;
        display: inline-block;
    }

    .description .article .article_title {
        margin-bottom: 20px;
        display: inline-block;
        float: right;
        padding: 0;
    }

        .description .article .article_title h2 {
            font: 500 18px/1.5 main,tahoma,arial;
            color: #4d4d4d;
            margin: 0;
            margin-bottom: 8px;
        }

        .description .article .article_title h3 {
            font: 400 16px main,tahoma,arial;
            color: gray;
            margin: 0;
        }

    .description .article .article_wrap {
        padding: 0;
        float: right;
    }

        .description .article .article_wrap .article_text {
            font-size: 14px;
            line-height: 1.7;
            color: gray;
            text-align: justify;
            margin-bottom: 20px;
        }

.article_container .scrollspy:nth-child(even) .article .article_title,
.article_container .scrollspy:nth-child(even) .article .article_wrap {
    float: left;
}

.article_container .scrollspy:nth-child(even) .article .article_img {
    float: right;
}

.timeline .timeline_container .time_child {
    background-size: 100%;
    float: right;
}

.timeline .timeline_container .time_img {
    width: 128px;
    height: 128px;
    padding: 18px;
    margin: 0 auto;
    border-radius: 100%;
    border: 1px solid #babcbf;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
    background-color: #fff;
}

    .timeline .timeline_container .time_img img {
        max-width: 100%;
        display: inline-block;
    }

.timeline .timeline_container .time_desc {
    margin-top: 30px;
}

.customerDesc {
    background-color: #47444F;
    padding: 30px 10px 0;
    text-align: center;
    color: #fff;
}

    .customerDesc .section_content .counter .counter_img {
        width: 100px;
        height: 100px;
        display: inline-block;
        border: 1px solid #32BBCB;
        border-radius: 50%;
        padding: 18px;
        box-shadow: 0 3px 3px 0 rgba(0,0,0,0.14), 0 1px 7px 0 rgba(0,0,0,0.12), 0 3px 1px -1px rgba(0,0,0,0.2);
    }

        .customerDesc .section_content .counter .counter_img img {
            max-width: 100%;
        }

    .customerDesc .section_content .counter .counter_desc h3 {
        font: 300 28px/1.5 main,tahoma,arial;
        margin: 0 auto 1.2rem;
        color: #32BBCB;
    }

    .customerDesc .section_content .counter .counter_desc h4 {
        font-size: 20px;
        margin: 2rem auto 1.2rem;
        color: #fff;
    }

.service_desc .service_img img {
    height: 100%;
    max-height: 128px;
}

.service_desc .service_content {
    margin-top: 30px;
}

.blog .blog_list .list_item .card {
    text-align: right;
    box-shadow: none;
}

    .blog .blog_list .list_item .card .card-image {
        padding: 24px;
        float: right;
    }

    .blog .blog_list .list_item .card .card-stacked .card-content {
        padding-bottom: 0;
        margin-bottom: 0;
    }

    .blog .blog_list .list_item .card .card-stacked .card-action {
        border-top: none;
    }

        .blog .blog_list .list_item .card .card-stacked .card-action .btn_content {
            color: #fff !important;
            float: left;
        }

        .blog .blog_list .list_item .card .card-stacked .card-action .time {
            height: 38px;
            float: left;
            padding: 10px 16px;
            margin: 10px 0;
            font-weight: 400;
            color: gray;
            border-left: 1px dashed #ddd;
        }

.blog .blog_list .list_item:nth-child(even) .card .card-image {
    float: left;
}

.blog .blog_list .list_item:nth-child(even) .card .card-stacked .card-action .btn_content {
    float: right;
    margin-right: 0;
    margin-left: 24px;
}

.blog .blog_list .list_item:nth-child(even) .card .card-stacked .card-action .time {
    float: right;
    border-left: none;
    border-right: 1px dashed #ddd;
}

.blog .blog_list .list_item .title {
    font: 500 18px/1.5 main,tahoma,arial;
    color: #4d4d4d;
    margin: 0;
    margin-bottom: 8px;
}

.blog .blog_list .list_item .text {
    font-size: 14px;
    line-height: 1.7;
    color: gray;
    text-align: justify;
    margin-bottom: 20px;
}

.contact_us {
    margin: 80px auto;
}

    .contact_us .card {
        background-color: #4C4C4C;
        border: 5px solid #fff;
        color: #fff;
    }

        .contact_us .card .info i {
            font-size: 2.5rem;
            color: #32BBCB;
        }

        .contact_us .card .info span {
            font-weight: bold;
            margin: 10px 0;
            display: block;
        }

        .contact_us .card .info p {
            color: #fafafa;
        }

        .contact_us .card .info span a {
            color: #fafafa;
            direction: ltr;
        }

        .contact_us .card .info span:first-child {
            margin-top: 0;
        }

.action .row {
    margin-bottom: 0;
}

.action .section_content .down_link ul li a img {
    max-width: 128px;
}

.action .section_content .send_sms .send_btn {
    text-align: center;
}

footer {
    background-color: #fff !important;
    color: #4d4d4d;
    text-align: right;
}

    footer .container {
        padding: 20px 0 40px 0;
    }

    footer .row:first-child {
        margin-bottom: 0;
    }

    footer .footer_title h2 {
        font: 500 1.7em/1.7 main,tahoma,arial;
        margin: 0;
    }

        footer .footer_title h2 span {
            color: #47444F;
            font-weight: bold;
        }

    footer .footer_desc h3 {
        font: 400 1.1em/1.7 main,tahoma,arial;
        color: grey;
        text-align: justify;
    }

    footer .footer_desc .social_link {
        font-size: 24px;
    }

    footer .footer_info .address,
    footer .footer_info .phone,
    footer .footer_info .email {
        font: 400 1.1em/1.7 main,tahoma,arial;
    }

    footer .footer_info .phone {
        margin-bottom: 8px;
        font-weight: bold;
    }

        footer .footer_info .phone .phoneNum {
            margin-bottom: 3px;
            letter-spacing: -.02em;
        }

            footer .footer_info .phone .phoneNum a {
                color: #4d4d4d;
                font-weight: bold;
            }

                footer .footer_info .phone .phoneNum a:hover {
                    color: #000;
                }

    footer .footer_info .email a {
        color: #47444F;
    }

        footer .footer_info .email a:hover {
            text-decoration: underline;
        }

    footer .footer_link a {
        color: #4d4d4d;
        font: 400 1.1em/1.7 main,tahoma,arial;
    }

        footer .footer_link a:hover {
            color: #000;
        }

    footer .footer_certificate {
        padding: 40px 0 !important;
    }


        footer .footer_certificate ul li a img {
            max-width: 80px;
        }

    footer .footer-copyright {
        color: #4d4d4d !important;
        text-align: center;
        border-top: 1px solid #ddd;
    }

        footer .footer-copyright .container {
            padding: 10px 0;
            font-size: 11px;
        }

@media only screen and (min-device-width:767px) and (max-device-width:1024px) {

    nav .button-collapse {
        height: 76px;
    }

        nav .button-collapse i {
            height: 85px !important;
            line-height: 85px !important;
            font-size: 45px;
        }

    .side-nav .menu ul li {
        border-left: 0;
        display: block;
        height: 68px;
        padding: 0;
        margin: 0;
    }

        .side-nav .menu ul li > a {
            margin: 0 auto;
            padding: 10px 16px;
            width: 60%;
            height: 68px;
            border-bottom: 1px dashed #ddd;
            font-size: 15px;
        }

            .side-nav .menu ul li > a > i {
                bottom: 0;
                margin: 0;
            }

        .side-nav .menu ul li:last-child {
            width: 100%;
        }

            .side-nav .menu ul li:last-child > a {
                border-bottom: 0;
            }


    .side-nav .btn_content {
        display: inline-block;
        padding: 5px 12px;
        margin-top: 20px;
        height: 38px;
        font-weight: 300;
    }


    .wrap_section {
        width: 90%;
    }

        .wrap_section .section_content div {
            margin-bottom: 35px;
        }

            .wrap_section .section_content div:last-child {
                margin-bottom: 0;
            }

            .wrap_section .section_content div.faq_img {
                margin-bottom: 70px;
            }


        .wrap_section .section_title {
            width: 90%;
            margin: 0 auto 40px;
            float: none;
        }

    .description .article {
        text-align: right;
    }

        .description .article .article_img {
            margin: 20% auto;
        }

        .description .article .article_wrap {
            padding: 0 10px;
        }

            .description .article .article_wrap:last-child {
                padding-right: 0;
            }

    .customerDesc .counter {
        margin: 30px auto;
    }

    .timeline .timeline_container .time_child {
        background: none;
    }

        .timeline .timeline_container .time_child:nth-child(odd) {
            padding-top: 0;
            background: none;
        }

    .action .section_content .send_sms .send_btn .btn_content i {
        display: none;
    }

    footer .footer_info, footer .footer_link {
        text-align: right;
    }

    footer .footer_certificate {
        padding: 20px !important;
    }
}

@media only screen and (min-device-width:320px) and (max-device-width:766px) {

    nav {
        height: 76px;
    }

        nav .brand-logo {
            height: 76px;
            padding: 20px;
        }

            nav .brand-logo img {
                max-height: 100%;
                max-width: 200px;
            }

        nav .button-collapse {
            height: 76px;
        }

            nav .button-collapse i {
                height: 76px !important;
                line-height: 78px !important;
                font-size: 45px;
            }

    .side-nav .menu ul li {
        border-left: 0;
        display: block;
        height: 68px;
        padding: 0;
        margin: 0;
    }

        .side-nav .menu ul li > a {
            margin: 0 auto;
            padding: 10px 0;
            width: 63%;
            height: 68px;
            border-bottom: 1px dashed #ddd;
            font-size: 15px;
        }

            .side-nav .menu ul li > a > i {
                bottom: 0;
                margin: 0;
            }

        .side-nav .menu ul li:last-child {
            width: 100%;
        }

            .side-nav .menu ul li:last-child > a {
                border-bottom: 0;
            }


    .side-nav .btn_content {
        display: inline-block;
        padding: 5px 12px;
        margin-top: 20px;
        height: 38px;
        color: #fff !important;
        font-weight: 300;
    }

        .side-nav .btn_content:hover {
            background-color: #736DD5 !important;
        }

    .full_section.headerImg,
    .full_section.slider_section {
        padding-top: 76px;
    }

    .wrap_section .section_content div {
        margin-bottom: 35px;
    }

        .wrap_section .section_content div:last-child {
            margin-bottom: 0;
        }

        .wrap_section .section_content div.faq_img {
            margin-bottom: 70px;
        }

    .wrap_section .section_title {
        width: 90%;
        margin: 0 auto 40px;
        float: none;
    }

    .description .article {
        text-align: center;
    }

        .description .article .article_wrap {
            padding: 0 10px;
        }

    .customerDesc .counter {
        margin: 30px auto;
    }

    .timeline .timeline_container .time_child {
        background: none;
    }

        .timeline .timeline_container .time_child:nth-child(odd) {
            padding-top: 0;
            background: none;
        }

    .blog .blog_list .list_item .card .card-image {
        float: none !important;
        max-width: 100%;
        margin-bottom: 0;
    }

    .blog .blog_list .list_item:nth-child(even) .card .card-stacked .card-action .btn_content {
        float: left;
        margin-right: 24px;
        margin-left: 0;
    }

    .blog .blog_list .list_item:nth-child(even) .card .card-stacked .card-action .time {
        float: left;
        border-left: 1px dashed #ddd;
        border-right: none;
    }

    .action .section_content .send_sms .send_btn {
        text-align: center;
    }

        .action .section_content .send_sms .send_btn .btn_content {
            width: 100%;
        }

            .action .section_content .send_sms .send_btn .btn_content span {
                width: 85%;
            }

    footer .footer_info, footer .footer_link {
        text-align: center;
    }
}
