<!-- Page header -->
<div class="page-header">
    <div class="page-header-content">
        <div class="page-title">
            <h5>
                <span class="text-semibold">میز کار</span>
                <small class="display-block">خوش آمدید!</small>
            </h5>
        </div>
        <div class="heading-elements">
            <a class="btn heading-btn bg-slate btn-labeled legitRipple"><b><i class="icon-cogs"></i></b>تنظیمات</a>
        </div>
    </div>
</div>
<!-- /page header -->
<!-- Content area -->
<div class="content">
    <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12">
            <a href="#">
                <div class="panel hover panel-flat information">
                    <div class="panel-heading">
                        <h3 class="panel-title text-grey-400">
                            بازدید امروز
                            <span class="pull-right mtb-5 badge bg-green-800">100% <i class="icon-arrow-up12"></i></span>
                        </h3>
                    </div>
                    <div class="panel-body text-center">
                        <p>
                            <span class="text-size-xlarge text-bold text-pink-800">10</span>
                            <small>نفر</small>
                        </p>
                        <div class="text-muted text-size-small"> دیروز تا این لحظه : 5</div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <a href="#">
                <div class="panel hover panel-flat information">
                    <div class="panel-heading">
                        <h3 class="panel-title text-grey-400">درخواست‌ها</h3>
                    </div>
                    <div class="panel-body text-center">
                        <p>
                            <span class="text-size-xlarge text-bold text-blue-800">6</span>
                            <small>جدید</small>
                        </p>
                        <div class="text-muted text-size-small">کل درخواست‌ها : 36</div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <a href="#">
                <div class="panel hover panel-flat information">
                    <div class="panel-heading">
                        <h3 class="panel-title text-grey-400">نیروها</h3>
                    </div>
                    <div class="panel-body text-center">
                        <p>
                            <span class="text-size-xlarge text-bold text-orange-800">9</span>
                            <small>نیروی فعال</small>
                        </p>
                        <div class="text-muted text-size-small">کل نیروها : 25</div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <a href="#">
                <div class="panel hover panel-flat information">
                    <div class="panel-heading">
                        <h3 class="panel-title text-grey-400">
                            درآمد امروز
                            <span class="pull-right mtb-5 badge bg-green-800">100% <i class="icon-arrow-up12"></i></span>
                        </h3>
                    </div>
                    <div class="panel-body text-center">
                        <p>
                            <span class="text-size-xlarge text-bold text-green-800">100,000</span>
                            <small>تومان</small>
                        </p>
                        <div class="text-muted text-size-small"> دیروز تا این لحظه : 10،000 تومان</div>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-xs-12">
            @Html.Partial("~/Areas/Operator/Views/Partial/General/OrderList.cshtml")
        </div>
        <div class="col-md-6 col-xs-12">
            <div class="panel panel-flat">
                <div class="panel-heading">
                    <h3 class="panel-title text-grey-400">آمار بازدید</h3>
                </div>
                <div class="panel-body">
                    <div class="chart-container">
                        <div class="chart has-fixed-height" id="view_chart"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /content area -->
<script type="text/javascript" src="~/Areas/Operator/assets/js/plugins/echarts/echarts.js"></script>
<script src="~/Areas/Operator/assets/js/pages/dashboard/dashboard.js"></script>
<script type="text/javascript">
    $(document).ready(() => {
        TopOrders();
        $("#logout").on("click", () => {
            let token = @Html.Raw(Json.Encode(Request.Cookies["SSODesc"]["Token"]));
            $.ajax({
                url: '/Account/Logout',
                data: { token: token },
                    type: 'POST',
                    success: function (Resualt) {
                        if (Resualt != "success") {
                            notifiction(3, Resualt);
                        }
                        else {
                            window.location.replace("/SS-OManage/Login");
                        }
                    },
                    error: function () {
                        notifiction(3, 'مشکلی به وجود آمده است لطفا زمان دیگری اقدام نمایید.');
                    }
                });
        });
    })
</script>