<script id="serviceSource" type="text/x-handlebars-template">
    {{#each serviceList}}
    <tr role="row">
        <td class="text-blue-700">{{title}}</td>
        <td class="text-center pr-40">
            {{#if unit}}
            تعداد
            {{else}}
            متر
            {{/if}}
        </td>
        <td class="text-center pr-40"><span class="label label-rounded label-info">{{catName}}</span></td>
        <td class="text-center text-grey-300">{{description}}</td>
        <td class="text-center pr-40">
            {{#if status}}
            <span class="label label-rounded label-icon label-success"><i class="icon-checkmark3"></i></span>
            {{else}}
            <span class="label label-rounded label-icon label-danger"><i class="icon-cross2"></i></span>
            {{/if}}
        </td>
        <td class="text-center control">
            <ul class="icons-list">
                <li class="dropdown dropup">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="icon-menu"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li><a onclick="pageLoad('/Operator/Service/AddEdit/{{id}}','{{title}}','serviceList')" class="text-blue-800"><i class="icon-pencil"></i>ویرایش</a></li>
                        <li><a id="delService" data-id="{{id}}" class="text-danger-800"><i class="icon-bin"></i>حذف</a></li>
                    </ul>
                </li>
            </ul>
        </td>
    </tr>
    {{/each}}
</script>
<div id="dataTable">
    <div class="datatable-header">
        <div class="dataTables_filter">
            <label>
                <span>جستجو بر اساس عنوان :</span>
                <input placeholder="تایپ کنید ..." id="searchservice" onkeyup="Searchservice()" type="search">
            </label>
        </div>
        <div class="dataTables_length">
            <label>
                <span>نمایش :</span>
                <select class="select" id="pagesize">
                    <option value="10" selected="selected">10</option>
                    <option value="25">25</option>
                    <option value="40">40</option>
                </select>
            </label>
        </div>
    </div>
    <div class="datatable-scroll">
        <table class="table datatable-basic table-hover dataTable no-footer" id="tbl-Service">
            <thead>
                <tr role="row">
                    <th class="sorting_desc" data-sort="0" data-sort-type="false">عنوان</th>
                    <th class="text-center sorting pr-40" data-sort="1" data-sort-type="">واحد</th>
                    <th class="text-center sorting pr-40" data-sort="2" data-sort-type="">دسته</th>
                    <th class="text-center sorting_disabled">توضیحات</th>
                    <th class="text-center sorting pr-40" data-sort="4" data-sort-type="">وضعیت</th>
                    <th class="text-center control sorting_disabled">عملیات</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
    <div class="datatable-footer">
        <div class="dataTables_info" id="tbl_Service_info"></div>
        <div class="dataTables_paginate paging_simple_numbers" id="sercivePaging"></div>
    </div>
</div>
<div id="no-records" class="text-center hidden">
    <div class="icon-object no-border">
        <img class="img-responsive" src="~/Areas/Operator/assets/images/notFound.png" title="notDataFound" />
    </div>
    <h5 class="text-semibold">متاسفانه رکوردی یافت نشد!</h5>
    <p class="mb-15">داده‌ای برای نمایش وجود ندارد می‌توانید از طریق دکمه ثبت مورد جدیدی را ثبت نمائید.</p>
</div>
